.about{
   
    
    &__data{
        text-align: center;
    }

    &__description{
        margin-bottom: 40px;
        margin-top: 40px;
    }

    &_img{
        width: 280px;
        margin: auto;
    }
}